body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: 1368px;
  margin: 0;
  color: white;
}

nav {
  background: rgb(0, 0, 0);
  margin-left: 20%;
  width: 61%;
  height: 10vh;
  border-radius: 10px;
  border: 2px solid black;
}

.middle {
  display: flex;
}

.aboutMe {
  background: rgba(0, 0, 0, 0.5);
  margin-left: 20%;
  margin-top: 10px;
  width: 20%;
  height: 85vh;
  border-radius: 10px;
  border: 2px solid black;
}

.aboutMe h2 {
  margin-left: 20%;
}

.aboutMe h3 {
  margin-left: 34%;
}

.content {
  background: rgba(0, 0, 0, 0.5);
  margin-left: 1%;
  margin-top: 10px;
  width: 40%;
  height: 85vh;
  border-radius: 10px;
  border: 2px solid black;
}

.pictureMe {
  margin-top: 5%;
  margin-left: 15%;
  width: 70%;
  height: 30vh;
  border-radius: 10px;
}

.icon {
  width: 100px;
  height: 50px;
}

footer {
  background: black;
  text-align: center;
  height: 20vh;
}

footer p {
  padding-top: 50px;
}

.top h3 {
  margin-left: 40%;
}

.imgstudy {
  width: 200px;
  height: 72px;
}
