body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: 1368px;
  margin: 0;
  color: white;
}

nav {
  margin-left: 20%;
  margin-top: 10px;
  width: 61%;
  height: 10vh;
  border-radius: 10px;
}

.middle {
  display: flex;
}

.aboutMe {
  background: rgba(0, 0, 0, 0.5);
  margin-left: 20%;
  margin-top: 10px;
  width: 20%;
  height: 85vh;
  border-radius: 10px;
  border: 2px solid black;
}

.aboutMe h2 {
  margin-left: 20%;
}

.aboutMe h3 {
  margin-left: 34%;
}

.content {
  background: rgba(0, 0, 0, 0.5);
  margin-left: 1%;
  margin-top: 10px;
  width: 40%;
  height: 85vh;
  border-radius: 10px;
  border: 2px solid black;
}

.pictureMe {
  margin-top: 5%;
  margin-left: 15%;
  width: 70%;
  height: 30vh;
  border-radius: 10px;
}

.icon {
  width: 60px;
  height: 45px;
}

footer {
  background: black;
  text-align: center;
  height: 20vh;
}

footer p {
  padding-top: 50px;
}

.top h3 {
  margin-left: 40%;
}

.imgstudy {
  width: 200px;
  height: 72px;
}

.icon-new {
  width: 45px;
  height: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 60%;
}

.option {
  display: flex;
  flex-direction: column;
}

.option p {
  position: absolute;
  margin-top: 50px;
  margin-left: 8px;
}

.option-1 p {
  position: absolute;
  margin-top: 50px;
}

.option-2 p {
  position: absolute;
  margin-top: 50px;
}

.option-3 img {
  margin-left: 8px;
}

.option-3 p {
  position: absolute;
  margin-top: 50px;
}

.project {
  background: #ddd;
  width: 200px;
  height: 150px;
  margin-left: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.project h4 {
  color: black;
}

.project p {
  text-align: left;
  color: black;
  margin-left: 3px;
}

.project button {
  background: black;
  color: white;
  margin-top: 50px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.contact-email {
  outline: none;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.contact-email:focus {
  box-shadow: 5px 5px 15px 5px #000000;
}

form h3 {
  margin-left: 40%;
  margin-bottom: 50px;
}

textarea {
  height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
}

form button {
  background: black;
  color: white;
  border: 2px solid white;
  height: 40px;
  border-radius: 10px;
}

.career h2 {
  margin-left: 35%;
}

.career h4 {
  margin-left: 5%;
}

.images {
  width: 500px;
  height: 520px;
  margin-left: 20px;
  border-radius: 10px;
  background-size: 500px;
  background-repeat: no-repeat;
  animation: img-anim 10s infinite;
}

@keyframes img-anim {
  0% {
    background-image: url("team.jpg");
  }
  50% {
    background-image: url("trofeu.jpg");
  }
  100% {
    background-image: url("team.jpg");
  }
}
